{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Contact V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'website/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->


	<link rel="stylesheet" type="text/css" href=" {% static 'website/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="{% static 'website/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="{% static 'website/vendor/animate/animate.css' %}">
<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="{% static 'website/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="{% static 'website/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="{% static 'website/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="bg-contact2" style="background-image: url({% static 'website/images/PM.jpg' %});">
		<div class="container-contact2">
			<div class="wrap-contact2">
				<form class="contact2-form validate-form" method="POST" action=".">{% csrf_token %}
					<span class="contact2-form-title">
						Risk Management Recommandation System
					</span>





					<div class="wrap-input2 validate-input" data-validate="Name is required">
						<input class="input2" type="text" name="requestrisk">
						<span class="focus-input2" data-placeholder="What Would you like to know about Risk Management"></span>
					</div>



					<div class="container-contact2-form-btn">
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
							<button type="submit" value='save'  class="contact2-form-btn">
								ASK YOUR QUESTION
							</button>
						</div>
					</div>
				</form>
                    <span class="contact2-form-title"> <h3> Answer: {{ myrequest }}</h3></span>
			</div>
		</div>
	</div>




<!--===============================================================================================-->

    <script src="{% static 'website/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->

	<script src="{% static 'website/vendor/bootstrap/js/popper.js' %}"></script>

	<script src="{% static 'website/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->

	<script src=" {% static 'website/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->

    <script src="{% static 'website/js/main.js' %}"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>

</body>
</html>
